:root {
  --primary-color: #222326;
  --secondary-color: #e2e2e2;
  --accent-color: #ffe724;
  --background-primary-color: #8c8377;
  --backdrop-color: rgba(46, 47, 66, 0.4);
  --text-shadow-color: #120c07;
  --box-shadow: rgba(0, 0, 0, 0.1);
}
