@import-normalize; /* bring in normalize.css styles */

body {
  background-color: #8c8377;
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffe724;
}

::-webkit-scrollbar-thumb {
  background-color: #222326;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #120c07;
  cursor: pointer;
}
